body {
    background-color: #222222;
}


#ft0{
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    color: silver;
}
#ft1{
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    color: silver;
}
#ft2{
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    color: silver;
}
